<!-- <div>
    <div class="ui-block-backend-toggle ">
        <div class="ui-block-backend-select"><img src="assets/business/images/home_admin/Tenants.png" (click)="showDropDown=!showDropDown"></div>
        <div style="position:relative;bottom:20px" class="ui-block-backend-select fa fa-chevron-down" (click)="showDropDown=!showDropDown"></div>
        <div class="ui-block-backend-dropdown" *ngIf="showDropDown">
            <ul>
                <li style="border-bottom: 1px solid #ccc"><img src="assets/business/images/home_admin/Tenants.png"></li>
                <li style="border-bottom: 1px solid #ccc"><img src="assets/business/images/home_admin/Tenants.png"></li>
                <li style="border-bottom: 1px solid #ccc"><img src="assets/business/images/home_admin/Tenants.png"></li>
                <li style="border-bottom: 1px solid #ccc"><img src="assets/business/images/home_admin/Tenants.png"></li>
            </ul>
        </div>
    </div>
    <div class="ui-block-count-container">
        <div class="ui-block-count-item" *ngFor="let item of countItems; index as i" [ngClass]="{'ui-block-count-item-border': i==2}">
            <div class="ui-block-count-item-img">
                <img src="assets/business/images/home_admin/{{item.url}}.png">
            </div>
            <div class="ui-block-count-item-text">
                <div style="font-size: 2em;">{{item.size}}</div>
                <div>{{item.label}}</div>
            </div>
        </div>
    </div>
</div> -->
<div style="margin-bottom: 20px;">Unified management of cloud resources.</div>
<p-tabView styleClass="ui-tabview-large">
    <p-tabPanel header="Bucket" [selected]="fromBuckets">
        <div class="content-header">
            <p>{{I18N.keyID['sds_block_volumesGroup_descrip']}}</p>
        </div>
        <bucket-list ></bucket-list>
    </p-tabPanel>
    <p-tabPanel header="{{I18N.keyID['sds_block_volume_title']}}">
        <div class="content-header">
            <p>{{I18N.keyID['sds_block_volumes_descrip']}}</p>
        </div>
        <volume-list #volumeList></volume-list>
    </p-tabPanel>
    <p-tabPanel header="{{I18N.keyID['sds_block_volume_grouptitle']}}" [selected]="fromGroup">
        <div class="content-header">
            <p>{{I18N.keyID['sds_block_volumesGroup_descrip']}}</p>
        </div>
        <volume-group-list #volumeGroupList></volume-group-list>
    </p-tabPanel>
    
</p-tabView>
